:root {
  --bg-white: #ffffff;
  --body-bg: #f5f5f9;
  --text-primary: #22303EEE;
  --text-secondary: #22303EB3;
  --text-disabled: #22303E66;
  --success-main: #71DD37;
  --error-main: #FF3E1D;
  --error-opacity-darker: #FF3E1D61;
  --info-opacity-darker: #03C3EC61;
  --primary-main: #696CFF;
  --chip-background: #22303E14;
  --divider: #22303E1F;
  --warning-opacity-darker: #FFAB0061;

  --shadow-md: 0px 3px 8px rgba(20, 20, 29, 0.22);
  --primary-shadow-sm: 0px 2px 4px rgba(105, 108, 255, 0.4);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  font-family: "Public Sans", sans-serif;
}

body a {
  text-decoration: none;
}

.dashboard-assinatura {
  gap: 1.5rem;
  padding: 1rem 2rem 0 2rem;
}

.dashboard-assinatura .card {
  background-color: var(--bg-white);
  width: 20rem;
  padding: 1.25rem;
  box-shadow: var(--shadow-md);
  border: 0;
  margin-top: 1rem;
}

.dashboard-assinatura .card:nth-child(1) {
  border-bottom: 3px solid var(--primary-main);
}

.dashboard-assinatura .card:nth-child(2) {
  border-bottom: 3px solid var(--warning-opacity-darker);
}

.dashboard-assinatura .card:nth-child(3) {
  border-bottom: 3px solid var(--error-opacity-darker);
}

.dashboard-assinatura .card:nth-child(4) {
  border-bottom: 3px solid var(--info-opacity-darker);
}

.card .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .card-title h4 {
  color: var(--text-primary);
}

.date-filter-dropdown .date-filter,
.date-filter-dropdown .dropdown-toggle {
  border: 0;
  border-radius: 4px;
  padding: 6px 10px;
  background-color: var(--chip-background);
  color: var(--text-secondary);
}

.card p {
  font-weight: 800;
}

.card p,
.card .meta {
  color: var(--text-secondary);
}

.card .card-content {
  display: flex;
  justify-content: space-between;
}

.negative {
  color: var(--error-main);
}

.positive {
  color: var(--success-main);
}

.card .card-content span {
  font-weight: 500;
}

.percentual {
  display: flex;
  align-items: center;
}

.porcentagem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress {
  height: 6px !important;
  width: 80%;
}

.progress-bar {
  background-color: var(--primary-main) !important;
  box-shadow: var(--primary-shadow-sm);
}

.container {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: var(--shadow-md);
  overflow: hidden;
  height: 410px;
  max-width: 40rem !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* Tab Navigation */
.tabs {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 1px solid var(--divider);
  padding: 15px 20px;
}

.tab {
  text-align: center;
  color: var(--text-primary);
  cursor: pointer;
  font-weight: 500;
  font-size: medium;
  transition: background 0.3s;
}

.tab.active {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-main);
  color: var(--bg-white);
  border-radius: 6px;
  box-shadow: var(--primary-shadow-sm);
}

/* Table Styles */
table {
  width: 90%;
  margin-left: 24px;
  border-collapse: collapse;
  text-align: left;
}

tbody {
  padding: 2rem !important;
}

th,
td {
  padding: 15px;
  color: var(--text-primary);
}

th {
  font-weight: normal;
  text-transform: uppercase;
  color: var(--text-primary);
}

.progress-container {
  display: flex;
  align-items: center;
}

.table-percentual {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 10px;
}

.progress-fill {
  height: 100%;
  border-radius: 4px;
}

.progress-value {
  font-size: 0.9rem;
  color: #666;
}

.chrome {
  background-color: #4caf50;
}

.safari {
  background-color: #673ab7;
}

.firefox {
  background-color: #03a9f4;
}

.edge {
  background-color: #ff9800;
}

.opera,
.uc {
  background-color: #f44336;
}

.collection {
  display: flex;
  align-items: center;
  gap: 6rem;
  background-color: var(--bg-white);
  box-shadow: var(--shadow-md);
  padding: 3rem 2.5rem;
  width: 30%;
}

.collection img {
  height: 12rem;
}

.collection h5 {
  color: var(--text-primary);
}

.collection p {
  color: var(--primary-main);
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.collection .collection-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.collection span {
  color: var(--text-secondary);
  font-size: 16px;
}

.collection a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: #6c63ff;
  color: var(--bg-white);
  border-radius: 6px;
  box-shadow: var(--primary-shadow-sm);
}

.extra-services {
  background-color: var(--bg-white);
}

.extra-services p {
  color: var(--text-secondary);
}

.extra-services h4 {
  color: var(--text-primary);
}

.visiting-days {
  background-color: var(--bg-white);
}

.visiting-days p {
  color: var(--text-secondary);
}

.visiting-days h4 {
  color: var(--text-primary);
}