:root {
  --bg-white: #ffffff;
  --body-bg: #f5f5f9;

  --text-primary: #22303EEE;
  --text-secondary: #22303EB3;
  --text-disabled: #22303E66;
  --chip-background: #22303E14;
  --divider: #22303E1F;

  --success-main: #71DD37;

  --error-main: #FF3E1D;
  --error-opacity-darker: #FF3E1D61;

  --info-opacity-darker: #03C3EC61;
  --info-opacity-light: #03C3EC29;
  --info-main: #03C3EC;

  --primary-main: #696CFF;

  --warning-opacity-darker: #FFAB0061;

  --shadow-md: 0px 3px 8px rgba(20, 20, 29, 0.22);
  --primary-shadow-sm: 0px 2px 4px rgba(105, 108, 255, 0.4);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  font-family: "Public Sans", sans-serif;
}

body a {
  text-decoration: none;
}

.dashboard-assinatura {
  padding: 0 2rem 0 2rem;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard-assinatura .card {
  background-color: var(--bg-white);
  padding: 1.25rem;
  box-shadow: var(--shadow-md);
  border: 0;
}
.mrr {
  border-bottom: 3px solid var(--primary-main) !important;
}

 .assinantes {
  border-bottom: 3px solid var(--warning-opacity-darker) !important;
}

.vendas {
  border-bottom: 3px solid var(--error-opacity-darker) !important;
}

.frequencia {
  border-bottom: 3px solid var(--info-opacity-darker) !important;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .card-title h4 {
  color: var(--text-primary);
}

.date-filter-dropdown .date-filter,
.date-filter-dropdown .dropdown-toggle {
  border: 0;
  border-radius: 4px;
  padding: 6px 10px;
  background-color: var(--chip-background);
  color: var(--text-secondary);
}

.card p {
  font-weight: 800;
}

.card p,
.card .meta {
  color: var(--text-secondary);
}

.card .card-content {
  display: flex;
  justify-content: space-between;
}

.negative {
  color: var(--error-main);
}

.positive {
  color: var(--success-main);
}

.card .card-content span {
  font-weight: 500;
}

.percentual {
  display: flex;
  align-items: center;
}

.porcentagem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress {
  height: 6px !important;
  width: 80%;
}

.progress-bar {
  background-color: var(--primary-main) !important;
  box-shadow: var(--primary-shadow-sm);
}

.vendas-cancelamento, .historico-mrr {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.25rem;
  background-color: var(--bg-white);
  box-shadow: var(--shadow-md);
  border-radius: 6px;
  margin-right: 0 !important;
}

.vendas-cancelamento .vendas-header, .historico-mrr .historico-header {
  display: flex;
  justify-content: space-between;
}

.vendas-cancelamento .vendas-header h5, .historico-mrr .historico-header h5 {
  color: var(--text-primary);
}

.container {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: var(--shadow-md);
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 1px solid var(--divider);
}

.container h5 {
  color: var(--text-primary);
  font-size: large;
  margin-top: 8px;
}

.tabs {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--divider);
  padding: 10px 30px;
  overflow-x: auto;
}

.tab {
  text-align: center;
  color: var(--text-primary);
  cursor: pointer;
  font-weight: 500;
  font-size: medium;
  transition: background 0.3s;
}

.tab.active {
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-main);
  color: var(--bg-white);
  border-radius: 6px;
  box-shadow: var(--primary-shadow-sm);
}

.table-container {
  max-height: 380px !important;
  overflow-y: auto;
  overflow-x: auto;
}

table.active {
  display: table;
}

table {
  display: none;
  width: 90% !important;
  margin-left: 24px !important;
  border-collapse: collapse;
  text-align: left;
}

thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--bg-white);
}

tbody {
  padding: 2rem !important;
}

th,
td {
  padding: 15px !important;
  color: var(--text-primary) !important;
  border: 0 !important;
}

th {
  font-weight: normal !important;
  text-transform: uppercase !important;
  color: var(--text-primary) !important;
  border: 0 !important;
}

.progress-container {
  display: flex;
  align-items: center;
}

.table-percentual {
  width: 100%;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 10px;
}

.progress-fill {
  height: 100%;
  border-radius: 4px;
}

.progress-value {
  font-size: 0.9rem;
  color: #666;
}

.chrome {
  background-color: #4caf50;
}

.uc {
  background-color: #00000095;
}

.safari {
  background-color: #673ab7;
}

.firefox {
  background-color: #03a9f4;
}

.edge {
  background-color: #ff9800;
}

.opera {
  background-color: #f44336;
}

.hidden {
  display: none;
}

.collection {
  display: flex;
  align-items: center;
  gap: 6rem;
  background-color: var(--bg-white);
  box-shadow: var(--shadow-md);
  padding: 3rem 2.5rem;
  border-radius: 6px;
}

.collection img {
  height: 12rem;
}

.collection h5 {
  color: var(--text-primary);
}

.collection p {
  color: var(--primary-main);
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}

.collection .collection-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.collection span {
  color: var(--text-secondary);
  font-size: 16px;
}

.collection a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background: #6c63ff;
  color: var(--bg-white);
  border-radius: 6px;
  box-shadow: var(--primary-shadow-sm);
}

.extra-services, .visiting-days {
  background-color: var(--bg-white);
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1rem;
}

.extra-services-content, .visiting-days-content{
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.extra-services p {
  color: var(--text-secondary);
}

.extra-services h4 {
  color: var(--text-primary);
}

.extra-services .percentual {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--info-main);
  background-color: var(--info-opacity-light);
  border-radius: 4px;
  padding: 4px 10px;
  width: 60px;
}

.extra-services .meta .porcentagem {
  display: flex;
  gap: 1.25rem;
}

.visiting-days p {
  color: var(--text-secondary);
}

.visiting-days h4 {
  color: var(--text-primary);
}

.tickets {
  display: flex;
  justify-content: space-between;
}

.ticket-assinatura, .ticket-avulso {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.25rem;
  padding: 1rem 2rem !important;
  background: linear-gradient(135deg, #E4EAF7 0%, #D3D8EB 100%);
}

.ticket-content h5 {
  color: var(--text-secondary);
}

.ticket-content h3 {
  color: var(--text-primary);
}

.ticket-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0075FF;
  border-radius: .75rem;
  padding: 1rem;
}

.ticket-icon img {
  width: 1.3rem;
}


@media (max-width: 1200px) {
  .vendas-cancelamento, .historico-mrr {
    margin-right: calc(-.5* var(--bs-gutter-x)) !important;
  }
}